<!DOCTYPE html>
<html>
<body style="background-color:Sienna;">
<body>
<head>
	
	<title>Signup to U chords!</title>
</head>
<body>
<h1>Create your U chords account!</h1>


<form action="/signup" method="POST">
  <label for="uname/">User name</label>
  <input type="text" id="uname" name="uname"><br><br>
  <label for="email">E-mail:</label>
  <input type="text" id="email" name="email"><br><br>
  <label for="password">Password:</label>
  <input type="text" id="password" name="password"><br><br>
  <br>
  <input type="submit" value="Submit">
</form>

</body>
</html>