<!DOCTYPE html>
<html>
<body style="background-color:Sienna;">
<body>
<head>
	
	<title>Signin to U chords!</title>
</head>

<body>

<h1>Signin and connect your U chords account!</h1>

<form action="/home">
  <label for="uname/email">User name/ E-mail:</label>
  <input type="text" id="uname/email" name="uname/email"><br><br>
  <label for="password">Password:</label>
  <input type="text" id="password" name="password"><br><br>
  <br>
  <input type="submit" value="Submit">
</form>



</body>
</html>